body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.background-image {
  background: url('image.jpg') center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px); 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}


p{
  font-size: 19px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}


h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: italic;
  color:#FF77DD;
  font-size: 20px;

}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 19px;
}

